<h1>Users</h1>
<p><%= @users.count %> user(s) in the database.</p>

<%= render partial: 'search' %>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= sortable 'name' %></th>
      <th scope="col">Locations</th>
      <th scope="col"><%= sortable 'species' %></th>
      <th scope="col"><%= sortable 'gender' %></th>
      <th scope="col">Affilications</th>
      <th scope="col"><%= sortable 'weapon' %>Weapon</th>
      <th scope="col"><%= sortable 'vehicle' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user', collection: @users %>
  </tbody>
</table>

<%= will_paginate @users %>


